<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 

<mapper namespace="kr.co.jhta.soop.dao.ProjectMemberDAO">
	
	<select id="selectOne" parameterType="ProjectMemberNo" resultType="ProjectMemberDTO">
		SELECT member_no, project_no, member_position
		FROM project_member
		WHERE project_no=#{project_no} and member_no=#{member_no}
	</select>
	
	<insert id="insertOne" parameterType="ProjectMemberDTO">
		INSERT project_member
		VALUES (#{member_no}, #{project_no}, 1)
	</insert>
	
	<insert id="insertPM" parameterType="ProjectMemberDTO">
		INSERT project_member
		VALUES (#{member_no}, #{project_no}, 0)
	</insert>

	<delete id="deleteOne" parameterType="ProjectMemberNo">
		DELETE FROM project_member
		WHERE project_no=#{project_no} and member_no=#{member_no}
	</delete>
	<update id="changeAuth1" parameterType="int">
		UPDATE project_member
		SET member_position = 1
		WHERE project_no = #{project_no}
	</update>
		<update id="changeAuth2" parameterType="ProjectMemberNo">
		UPDATE project_member
		SET member_position = 0
		WHERE project_no=#{project_no} and member_no=#{member_no}
	</update>
	
	<select id="countProjectMember" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM project_member
		WHERE project_no = #{project_no}
	</select>

</mapper>